*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

header{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header{
    margin: 20px 20px 0 0;
}

a{
    font-weight: bold;
}

.mainSignin{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 150px;
    height: 100%;    
}

.title{
    margin-bottom: 20px;
    font-size: 2.2em
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
}

.inputSingin, .inputSingup, .buttonSignIn, .buttonSignUp{
    width: 300px;
    height: 35px;
    font-size: 16px;
}

.buttonCancelRemove{
    width: 185px;
    height: 35px;
    font-size: 16px;
}
::placeholder {
    opacity: 0.4; 
    font-size: 15px;
    padding-left: 10px;
}

.inputSingin, .buttonSignIn{
    margin-top: 20px;
}

.buttonSignUp, .buttonCancelRemove {
    margin-top: 30px;
}

.mainSignup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 100%;     
}

.formContainer{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.signUpForms{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}

.label{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #585858;
}

h3{
    margin-top: 30px;
}

.alert{
    font-size: 12px;
    font-weight: bold;
    color: #ff0000;  
    margin-top: 5px;   
}

.nonActive{
    display: none;
}

.alert2{
    color: #ff0000;    
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 150px;
    height: 100%;  
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.notFound{
    font-size: 1.5em;
    margin-top: 20px;
}

.mainHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #808080;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 1.2em;
}

.mainHeaderTitle{
    margin-left: 20px;
}

.mainHeaderMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    p{
        margin-right: 20px;
        line-height: 30px;
        span{
            font-weight: bold; 
        }
    }
}

.editButton, .logoutButton{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.editButton:hover, .logoutButton:hover{
    background-color: #F5F5F5;
}

.editButton{
    background-image: url("../images/settings.png");
} 

.logoutButton{
    background-image: url("../images/logout.png");
}

.sectionContainer{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1.2em;
}

.leftTable, .rightTable{
    width: 585px;
    table-layout: fixed; 
}

.tableTitle{
    font-size: 1.4em;
    height: 70px;
}

table, th, td{
    border: 2px solid #808080;
    border-collapse: collapse;
} 
   
th,td{
    text-align: left;
    padding-left: 5px;
    height: 55px;
    }

th{
    background-color: #E8E8E8;
}

td{
    span{
        font-weight: bold;
        font-size: 1.3em;
    }
}

.cellButtons {
    text-align: center;
    padding-left: 0;
}

.buttonBuySell{
    width: 90px;
    height: 30px;
    font-size: 16px;
}

.buttonDistance{
    margin-left: 15px;
}

.dataTime{
    font-size: 14px; 
    span{
        font-weight: bold;
        font-size: 14px; 
    } 
}

.buySell{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    width: 450px;
    height: 180px;
    background-color: #F5F5F5;
    border: 1px solid #808080;
    box-shadow: 0 0 7px #888;
    padding: 25px;
    position: fixed;
    top: 30%;
    z-index: 3;
}

.inputBuySell{
    width: 398px;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bold{
    font-weight: bold;
}

.editAccount{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    border: 1px solid #808080;
    box-shadow: 0 0 7px #888;
    padding: 25px;
    position: fixed;
    top: 2%;
    z-index: 3;
}
